# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# Vue.js
frontend/dist/
frontend/.DS_Store
frontend/.vscode/

# Env
.env

# Data
/data
/initdb
